body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 11px; /* El tama침o de la fuente principal en el tag <p></p> */
    background-color: lightblue; /* El color del fondo de la p치gina web */
    color:  #8e44ad ; /* El color del texto*/ 
}
h1 {
    color: #061deb; /* El color de la cabecera */
    font-size: 24px; /* El tama침o de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipogr치fica utilizada en la cabecera */
}
